/* css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header{
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1{
    margin: 10px 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Skills section styling */

#skillsContainer{
    margin-top: 20px;
}

#skillsContainer h2 {
    margin-bottom: 10px;
}

#skillsContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skillsContainer li {
    display: inline-block;
    margin-right: 10px;
}